@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC&family=Noto+Sans+SC&family=M+PLUS+Rounded+1c&family=Almarai&family=Raleway&family=Noto+Sans+KR&display=swap');
:root {
    --nudgedown: 65%;
    --nudgeup: 15%;
}
@font-face {
  font-family: 'Nexa';
  src: url('fonts/Nexa.woff2') format('woff2 supports variations'),
       url('fonts/Nexa.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nexa';
  src: url('fonts/NexaItalic.woff2') format('woff2 supports variations'),
       url('fonts/NexaItalic.woff2') format('woff2-variations');
  font-weight: 100 900; 
  font-style: italic;
  font-display: swap;
}